/* css/base.css - 基础样式 */

/* 重置 */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  background: var(--color-bg-page);
  line-height: 1.5;
  overflow: hidden;
}

/* 选中文字样式 */
::selection {
  background: var(--color-primary-light);
  color: var(--color-text-primary);
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-page);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
  border-radius: var(--radius-full);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

/* 图片 */
img, canvas {
  display: block;
  max-width: 100%;
}

/* 按钮 */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

/* 输入框 */
input, textarea {
  font-family: inherit;
  outline: none;
}

/* 链接 */
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-dark);
}